*.class
*.swp
UnaCloudWeb/target/*
UnaCloudWeb/target-eclipse/*
UnaCloudWeb/target/stacktrace.log
UnaCloudWeb/grails-app/conf/config.properties
UnaCloudControl/controlConfig.properties
UnaCloudControl/log_control.txt
AgentClient/global.properties
AgentClient/imageList
AgentClient/executions.txt
AgentClient/local.properties
AgentClient/target/*
AgentClient/src/main/java/com
AgentClient/src/main/java/communication
UnaCloudFileManager/target/*
UnaCloudFileManager/target-eclipse/*
UnaCloudFileManager/target-eclipse/classes/javascripts/jquery.js
