# UnaCloud
# files to ignore by Git 

# Temporary files
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.recommenders
.recommenders/
stacktrace.log

# Compiled files
bin/
out/
target/
*.class

# Grails files
config.properties

# Configuration files
global.properties
local.properties
log_control.txt
imageList
executions.txt

# Eclipse files
.project
target-eclipse/

# IntelliJ files
.idea/

# Other files
UnaCloudFileManager/target-eclipse/classes/javascripts/jquery.js
UnaCloudFileManager/target/assets/manifest.properties
UnaCloudFileManager/UnaCloudFileManager.iml
UnaCloudFileManager/UnaCloudFileManager-grailsPlugins.iml
UnaCloudFileManager/scripts/test/unit/uniandes/unacloud/file/test/
UnaCloudFileManager/.slcache/
UnaCloudFileManager/web-app/agentSources/UnaClient/
UnaCloudFileManager/UsersDellDocumentsMonitoriasUnaCloudvmsaan_admin/
UnaCloudFileManager/web-app/agentSources/UnaClient.jar

UnaCloudWeb/UnaCloudWeb.iml
UnaCloudWeb/UnaCloudWeb-grailsPlugins.iml
UnaCloudWeb/.slcache/

AgentCloud/src/META-INF/MANIFEST.MF
AgentCloud/AgentCloud.iml
AgentCloud/META-INF/

AgentUpdater/AgentUpdater.iml

CommonShares/CommonShares.iml
CommonShares/bin/META-INF/

ServerShares/ServerShares.iml

UnaCloudClientRestAPI/UnaCloudClientRestAPI.iml

UnaCloudControl/UnaCloudControl.iml
UnaCloudControl/META-INF/MANIFEST.MF

UnaCloudClientRestAPI/archivoEntrada.csv
