/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/

.check-blue{
   background: #888 !important;
   border: none !important;
   color: #000 !important;
}

.column-center{
	text-align: center !important;
}

.text-green{
	color: #1d9d74;
}
.text-orange{
	color: #FFC51B !important;
}

.insert-table{
	margin-bottom: 0px !important;
	background-color: transparent !important;
}

.insert-row{
	border-top: none !important;
}

.block-button{
	text-decoration: none;
}

table thead .info{
	background-color: #E5E5E5 !important;
}

.text-head{
	margin-top: 6px;
	margin-bottom: 6px;
}

.hide-segment{
	display: none !important;
}

.box-info{
	background: #f4f4f4;
    position: relative;
    /**padding: 15px 5px;**/
    margin: 0 0 10px 10px;
    min-width: 80px;
    height: 60px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: #fafafa;
    display: inline-block;
    line-height: 0;
}
.box-info h3{
	margin:10px !important;	
}
.embeded_table td{
	height: 35px;
    overflow: hidden;
}


