/*
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461

*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
    
html, body {
    background-color: #eeeeee !important;
    margin:0;
	height:100%;
}
.center_login{
	min-height: 100%;
}

.wrapper {	
	height:100%;
}

.login {
	text-align: center;
	background-color: #fff;
	max-width:450px;
	height: 350px;
	margin: 15% auto 10% auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.login .fa-cloud {
	font-size: 7rem;
	color: #4E80A9;
	margin-top: 10px !important;
}

.login .text-una {
	width: 100%;
	background-color: #515556 !important;
	border: none;
	padding: 10px;
	margin-bottom: 10px !important;
	color: #FFF !important;
}
.login .btn {
	width: 100%;
	border: none;
	padding: 10px;
	margin-bottom: 10px !important;
	border-radius: 0.2rem !important;
	background-color: #4E80A9 !important;
	color: #FFF;
}

.login .btn:HOVER{
	color: #FFF;
	font-weight: bold !important;
	background-color: #5EA1EF !important;
}
.login h1 {
	font-weight: bold !important;
	color: #333333;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 3em !important;
	margin-top: 10px !important;
	margin-bottom: 0px !important;
}
.login h6{
	color: #333333;
	font-family: 'Open Sans', sans-serif !important;
	right: 0;
	margin: 0 !important;
	margin-bottom: 15px !important;
}
.login .alert{
	 margin-bottom: 0px !important;
}
.full-width:ACTIVE{
	background-color: #3185E6;
}
.full-width {
	background-color: #8eb5e2;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.box {	
	bottom: 0;
	left: 0;
	background-color: #333;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 30px;
    height: 190px;    
}

.main{
	padding:30px;
}


.footer{
	position: relative;
    bottom: 0;
    width: 100%;   
    background-color: #DDD;
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
    clear:both;
    margin-top:-120px;
}

.text-muted {
	text-align:center;
    color: #777;
    text-decoration: none !important;
}

.container .text-muted {
    margin: 20px 0;
}
